</body>

<footer>
    <div class="footer-container">
        <p>
            <a style="color:black;" href="https://www.facebook.com/"><i class="social-icon fa-2x fab fa-facebook-f"></i></a>
            <a style="color:black;" href="https://www.instagram.com/"><i class="social-icon fa-2x fab fa-instagram"></i></a>
            <a style="color:black;" href="https://www.linkedin.com/in/"><i class="social-icon fa-2x fab fa-linkedin"></i></a> <br> <br>
            Created by <b><i>Group 31</i></b> | Team Five Leaf Clover
        </p>
    </div>
</footer>


</html>
