<%- include('partials/prof-header') -%>
<div style="margin-top: 150px;" class="box">
    <h1 class="heading">Add TA</h1>

    <div>
    <form class="" action="/add_ta" method="post" >
        <div class="form-group">
            <label for="">TA ID(Roll No.)<input autofocus type="text" class="form-control" name="roll_no" value="" placeholder="Enter ID:" required></label>
        </div>
        <div class="form-group">
            <label for="">First Name<input autofocus type="text" class="form-control" name="f_name" value="" placeholder="Enter First Name:" required></label>
        </div>
        <div class="form-group">
            <label for="">Last Name<input autofocus type="text" class="form-control" name="l_name" value="" placeholder="Enter Last Name:" required></label>
        </div>
        <div class="form-group">
            <label for="">Email<input autofocus type="email" class="form-control" name="email" value="" placeholder="Enter your email:" required></label>
        </div>
    
        <div class="form-group">
            <button style="max-width: 300px" type="submit" class=" form-control btn btn-success btn-sm space" name="button">Add TA +</button>
        </div>
    </form>
</div>
</div>

<%- include('partials/user-footer') -%>
