<%- include('partials/index-header') -%>



<section id="title" >
    <div class="container">
        <div class="row">
            <div class="col-lg-6" style="padding-bottom:30px;">
                <h1 style="padding-top:50px; padding-bottom: 50px;" >Project allocation made easy</h1>
                <!-- <h1 style="padding-top:50px;">MindMatch.</h1> -->
                <h5 class="index_text"> Are you a Student? </h5><br>
                <a href="/student_login" class=" btn btn-dark btn-lg "> <h3>Log-In</h3> </a> &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/student_reg" class="btn btn-outline-dark btn-lg " > <h3>Register</h3> </a> <br><br>
                <h5 class="index_text"> Are you a Professor? </h5><br>
                <a href="/prof_login" class=" btn btn-dark btn-lg "> <h3>Log-In</h3> </a> &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/prof_reg" class="btn btn-outline-dark btn-lg " > <h3>Register</h3> </a> <br>
            </div>
            <div class="col-lg-6" style="padding-bottom:30px;">
                <img src="images/project2.jpg" width="600" height="400" alt=""> 
            </div>
        </div>
    </div>
</section>





<section  id="show">
    <h1>Bridges the gap between professor and students.</h1>
</section>



<%- include('partials/index-footer') -%>