<%- include('partials/prof-header') -%>

<%#  as this is a ejs file
        user object is accessible here  %>

<div class="jumbotron">
    <h1> DashBoard </h1>
</div>

<div style="text-align: center; margin-bottom: 30px; margin-top: 50px;">
 
</div>

<div class="box">
    <h2>Hi Prof. <%= username %> </h2> <br>
    <h5>Welcome to your HOMEPAGE</h5>
</div>




<%- include('partials/user-footer') -%>